# Git
.git
.gitignore

# Documentation
README.md

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# IDE
.vscode
.idea
*.code-workspace

# Dependencies
vendor/
node_modules/

# Environment
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db
